/* Sample CSS styles, customize as needed */
*{
  font-family: sans-serif;
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
  color:#5c5b5b;
}
h1,h3,p{
  margin: 2vh;
}
nav ul {
  background-color: #ccc;
  list-style-type: none;
  height: 10vh;
  
}
nav ul li {
  display: inline-block;
  padding: 3vh;
}
nav ul li a{
  color: #000;
  font-size: 1.3rem;
  text-decoration: none;
}
.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  height: fit-content;
  padding: 10px;
  margin: 10px;
}

.card img {
  width: 20%;
  border-radius: 5px;
  background-color: #000;
}

form  {
  display: grid;
  border:2px solid #ccc ;
  width: 40%;
  margin: auto;
  padding: 2%;
  border-radius: 10px;
  gap:20px;
}
form button{
  width: fit-content;
  margin: auto;
  padding: 4px;
}
form input{
  padding: 5px;
  border: none;
  border-bottom:1px solid #888 ;
}
